
.nav-desktop{
  display: none;
}
 .navbar {
  background-color: rgba(255, 217, 0, 0.473) ;
  box-shadow: 5px 5px 5px rgb(255, 174, 0);
}

.nav-mobile .navbar-brand img{
  width: 5rem;

}


.nav-mobile .nav-item{
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  width: 100%;
  margin: 1.5rem auto;
  text-decoration: none;
  color: black;
}

.nav-mobile .nav-item:hover{
  font-weight: 600;
  color: rgb(255, 81, 0);
}

.nav-mobile .brand-desktop{
  display: none;
}
.nav-mobile .brand-mobile{
  display: block;
}

.signIn-ico{
  display: none;
}

@media screen and (min-width: 990px) {
  .nav-mobile{
    display: none;
  }
  .nav-desktop{
    display: block;
    margin: 1rem 10rem 3rem 1rem;
    position: absolute;
    

  }
  .brand-desktop{
    width: 7rem;
  }

  .nav-desktop li{
    margin-bottom: 2rem ;
    font-size: 1.1rem;
    width: 100%;
  }
  .nav-desktop i{
    margin-right: 0.5rem;
  }
  .nav-desktop  .nav-item{
    color: black;
  text-decoration: none;  
  font-weight: 500;
}

.nav-desktop  li {
  color: #ff4f1f;
  padding: 0.5rem;
  
}

  .nav-desktop  li:hover{
    color: #ff4f1f;
    border-radius: 20px;
    background-color: #ff501f38;
    cursor: pointer;


 }

.signIn-ico{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 8.5rem;
  z-index: 99;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  color: black !important;
}

.signIn-ico i{
  font-size: 2rem;
  color: #ff4f1f;
  
}

}

/* .nav-item:nth-child(1):hover{
 background: linear-gradient(45deg, #E6A8FD, #0CAAD9) ;
 border-radius: 20px 40px 5px ;
 
}

.nav-item:nth-child(2):hover{
  background: linear-gradient(45deg, #E6A8FD, #0CAAD9) ;
  border-radius: 40px 15px 25px  ;
 }

 .nav-item:nth-child(3):hover{
  background: linear-gradient(45deg, #E6A8FD, #0CAAD9) ;
  border-radius: 13px 40px 22px  ;
 }

 .nav-item:nth-child(4):hover{
  background: linear-gradient(45deg, #E6A8FD, #0CAAD9) ;
  border-radius: 40px 15px 25px  ;
 } */




